@import "normalize.css";
@import "variables.css";
@import "fonts.css";

body {
    font-family: Roboto, sans-serif;
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.calc-input {
    border-radius: 5px;
    padding: 15px;
    font-size: 20px;
}

.calc-input:focus {
    outline: none;
}

.calc-input:active {
    outline: none;
}

.calc-btn {
    background-color: #fae8ff;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.calc-btn:hover {
    background-color: #f3d4ff;
}

.calc-btn:active {
    background-color: #e9c2fc;
}
