.calc__title {
    text-align: center;
}

.calc__form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
}

.calc__label {
    display: block;
    width: 100%;
}

.calc__input-number {
    margin-bottom: 20px;
}

.calc__display {
    margin-bottom: 20px;
    padding: 15px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 20px;
}

.calc__list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.calc__item {
    flex: 0 0 calc(33.333% - 7px);
}

.calc__btn-num {
    width: 100%;
    height: 35px;
    background-color: #fae8ff;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.calc__btn-num:hover {
    background-color: #f3d4ff;
}

.calc__btn-num:active {
    background-color: #e9c2fc;
}
