.calc__title {

}

.calc__form {
    display: flex;
    flex-direction: row;
    /*justify-content: center;*/
    /*align-items: center;*/
    /*background-color: aqua;*/
}

.calc__label {
    display: block;
}

.calc__input-number {
    margin-bottom: 20px;
}

.calc__list {
    width: 300px;
    margin: 0 auto;
}

.calc__item {

}

.calc__btn {

}